
# once yaml package is installed ..it will create egg-info folder ,means book recommender system is now a local package in our system
#, -e . - we can import it anywhere in our system and use it.---local package installation is done---egg file is created


streamlit>=1.28.2

pandas>=2.0.0

numpy>=1.26.0

scikit-learn

pyyaml